*{
    padding-top: 1px;
    padding-left:1px;
    margin: 0;
    border-color:black;
  }
  .parent{
      display: flex;
  }
  .l1{
      width: 20%;
      height: 500px;
      position:relative;
      background-color:black;
      color: white;
  }
  .r1{
      width: 80%;
      padding-left: 5px;
      background-color: rgb(22, 23, 23);
      color: white;
  }
  img{
      width: 30px;
  }
  .logo{
      font-size: 30px;
  }
  footer{
      border-style: solid;
      background-color:rgb(42, 44, 44);
  }
  .topnav {
      overflow: hidden;
      background-color:white;
      border-radius: 25px;
    }
    .topnav a {
      float: left;
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    .topnav a:hover {
      background-color:white;
      color: black;
    }
    .topnav a.active {
      background-color: #2196F3;
      color: white;
    }
    .topnav input[type=text] {
      float: left;
      padding: 6px;
      border: none;
      margin-right: 16px;
      font-size: 18px;
    }
    @media screen and (max-width: 600px) {
      .topnav a, .topnav input[type=text] {
        display: block;
        text-align: left;
        width: 100%;
        padding: 14px;
      }
    }
    .dr2{
      font-size: 22px;
    }
    .dr2 img{
      width: 18px;
    }
    a:hover{
      color: aqua;
    }
    .p2{
      display: flex;
    }
    .b1{
      font-size: 28px;
      padding: 20px;
      width: 50%;
      height: 150px;
      border-radius: 8px;
      margin: 5px;
      background-color: mediumorchid;
    }
    .b2{
      font-size: 28px;
      padding: 20px;
      width: 50%;
      height: 150px;
      border-radius: 8px;
      margin: 5px;
      background-color:chocolate;
    }
    .p3{
      display: flex;
      justify-content: space-around;
    }
    .b6{
      font-size: 23px;
      padding: 20px;
      width: 25%;
      background-color:cadetblue;
      border-radius: 5px;
      margin: 4px;
      height: 150px;
    }
    .b7{
      font-size: 23px;
      padding: 20px;
      width: 25%;
      background-color:darkblue;
      border-radius: 5px;
      margin: 4px;
    }
    .b8{
      font-size: 23px;
      padding: 20px;
      width: 25%;
      background-color:purple;
      border-radius: 5px;
      margin: 4px;
    }
    .b9{
      font-size: 23px;
      padding: 20px;
      width: 25%;
      background-color:orchid;
      border-radius: 5px;
      margin: 4px;
    }
    .app{
      position:absolute;
      bottom: 0;
      font-size: 20px;
      display: flex;
      align-items:center;
    }
    .ser{
      background-color: #37393a;
      border-radius: 5px;
    }

    button {
        cursor: pointer;
    }